<html>
    <head>
        <title>a title</title>
        <meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js" ></script>
    <style>
	p {
		font-size: 22px;
		font-weight: bold;
		font-style: italic;
		color: rgb(62, 62, 62);
		margin: 18px;
	}
	ul {
		float: left;
		border-radius: 5px;
		border: solid 1px rgb(198, 198, 198);
		padding: 7px 11px;
		background-color: rgb(248,248,248);
	}
	li {
		float: left;
		background-color: rgb(200,200,200);
		padding: 5px 19px;
		margin: 5px 2px 5px 0px;
		color: black;
		list-style: none;
	}
	li:hover, li:hover a {
		background-color: rgb(6,179,6);
		color:white;
	}
	li a {
		text-decoration: none;
		color: white;
		font-size: 21px;
		font-style: italic;
		text-shadow: 1px 0px 3px rgb(157, 157, 157);
	}
	li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
	li:nth-child(3) { border-radius: 0px 4px 4px 0px;}
	.active {
		background-color: rgb(6,179,6);
	}
	</style>
    </head>
    <body>
        <div ng-app>
        <ul ng-init="tab=1">
            <li ng-class="{active:tab===1}"> <!-- if tab===1 -> active -->
                <a href ng-click="tab=1">Новые</a>
            </li>
            <li ng-class="{active:tab===2}">
                <a href ng-click="tab=2">В обработке</a>
            </li>
            <li ng-class="{active:tab===3}">
                <a href ng-click="tab=3">Принятые</a>
            </li>
            <li ng-class="{active:tab===4}">
                <a href ng-click="tab=4">Отмененные</a>
            </li>

            <p ng-show="tab === 1">first tab</p>
            <p ng-show="tab === 2">second tab</p>
            <p ng-show="tab === 3">third tab</p>
            <p ng-show="tab === 4">fourth tab</p>
            
        </ul>   
        </div>    
    </body>
</html>
