body {padding-top: 20px;}
input[type="checkbox"] {margin-right: 5px;}
label {margin-right: 10px;}
.header {margin-bottom: 30px;}
.chooseLib{border-bottom: 1px solid #000; padding-bottom: 10px; margin-bottom: 20px;}
.libs {list-style-type: none; margin: 0px; padding: 0px; width: 300px;}
.libs li {background: #d7e3f0; padding: 10px;  margin-bottom: 3px; cursor: pointer;}
.libs li.marked {background: #b4dfa6;}
.libs li span.glyphicon{margin-right: 10px; float: right;}
.alert{margin-top: 20px;}