.text-area {
    width: 100% !important;
    /*padding-right: 5px;*/
}

.text-area-margin{
    margin-top: 5px;
}
.text-area-button {
    float: right;
    margin-left: 5px;
}

/*popup*/
.pop-up-bg {
    background:url("../img/11.png") repeat scroll 0 0px transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index:500;
    display: none;
}
.edit-frame {
    width: 480px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1500;
    border: 1px solid #ababab;
    font-size: 12px;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -185px;
    padding: 10px 0;
}