<div>
    <input type="text" ng-model="inputData.name" placeholder="name" />
    <br />
    City:<br />
    <input type="text" ng-model="inputData.city" placeholder="city" />
    <br />
    <button class="btn btn-primary" ng-click="addCustomer()">Add Customer</button>
    <br />
    <button class="btn btn-primary" ng-click="removeCustomer(0, 1)">REMOVE Customer</button>
    <br />
    <br />

    Filter by Name:
    <input type="text" ng-model="nameText" />
    <br />
    <ul>
        <li ng-repeat="customer in customers| filter:nameText | orderBy:'name'">{{ customer.name}} - {{ customer.city}}</li>
    </ul>

</div>
