<div>

    filter: <input type="text" ng-model="searchFlowers"/>
    <ul>
        <li ng-class="{active:oneflower.active}" 
            ng-click="switchActive(oneflower)"
            ng-repeat="oneflower in allflowers| filter:searchFlowers">{{oneflower.name}} {{oneflower.price  | currency}}</li>
    </ul>

    <b>Total: {{total() | currency}}</b>
    <br /><br />
    flower:
    <br /><input type="text" ng-model="flower_name"/><br>
    price:
    <br /><input type="number" ng-model="flower_price"/>
    <button ng-click="addFlower()">add flower</button>

</div>