<div>

    Enter number 1: <input type="number" ng-model="number1" />
    <br />
    Enter number 2: <input type="number" ng-model="number2" />
    <p>{{ number1 + number2}}</p>

    <br /><br />
    <button ng-click="add()">Add</button>
    <h1>Total = {{total}}</h1>

</div>
