<div>
    <ul>
        <li ng-repeat="customer in customers">{{ customer.name}}</li>
    </ul>

    <br />
    <br />

    Name:<br />
    <input type="text" ng-model="inputData.name" placeholder="name" />
    <br />
    City:<br />
    <input type="text" ng-model="inputData.city" placeholder="city" />
    <br />
    <button class="btn btn-primary" ng-click="addCustomer()">Add Customer</button>
</div>