<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, it's my index file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body ng-app="mainModule" ng-controller="mainController">
<div class="container">
    <div class="col-lg-12"><h3>Messages</h3></div>
    <div class="col-lg-5">
        <form role="form" class="form-inline">
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="control-label col-lg-4">Name</label>
                    <input type="text" class="form-control text-area col-lg-8" id="inputName" placeholder="Name" ng-model="newMessage.author">
                </div>
                <div class="col-lg-12">
                    <label class="control-label col-lg-4 text-area-margin">Message</label>
                    <textarea class="form-control text-area col-lg-7" rows="3" ng-model="newMessage.message"></textarea>
                </div>
                <div class="col-lg-12 text-area-margin">
                    <button type="submit" class="btn btn-default text-area-button" ng-click="addMessage(newMessage)">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Author</td>
                <td>Message</td>
                <td>Data</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in messages">
                <td>{{message.id}}</td>
                <td>{{message.author}}</td>
                <td>{{message.message}}</td>
                <td>{{message.created}}</td>
                <td><a href="#" ng-click="editMessage(message)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                <td><a href="#" ng-click="deleteMessage(message.id)"><span class="glyphicon glyphicon-trash"
                                                                        aria-hidden="true"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Edit frame -->
    <div class="pop-up-bg" style="display: block;" ng-show="showEditFrame">
        <div class="edit-frame">
            <div class="col-lg-12">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <label class="control-label col-lg-4">Name</label>
                            <!--<input type="text" class="form-control text-area col-lg-8" id="inputName" ng-model="current.author">-->
                            <input type="text" class="form-control text-area col-lg-8" id="inputName" ng-model="current.author">
                        </div>
                        <div class="col-lg-12">
                            <label class="control-label col-lg-4 text-area-margin">Message</label>
                            <textarea class="form-control text-area col-lg-7" rows="3" ng-model="current.message"></textarea>
                        </div>
                        <div class="col-lg-12 text-area-margin">
                            <button type="button" class="btn btn-default text-area-button" ng-click="closeEditFrame()">Cancel</button>
                            <button type="submit" class="btn btn-default text-area-button" ng-click="saveEditedMessage(current)">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script src="public/js/app.js"></script>
<script src="public/js/script.js"></script>

</body>
</html>