
<a href="#home">Home</a>
<br><br>
<table>
    <thead><tr>
            <th class="name" ng-click="sortBy('content')" title="CLICK TO ORDER"><h1>content 
                    <span class="{{Header[0]}}"></span> </h1>
            </th>
            <th class="name" ng-click="sortBy('title')" title="CLICK TO ORDER"><h1>title
                    <span class="{{Header[1]}}"> </span></h1>
            </th>
        </tr>
    </thead>
    <tr ng-repeat="item in list| orderBy:columnToOrder:reverse_" ng-class="{highlightY: $odd, highlightYG: $even}" >
        <td ng-bind-html="sanitize(item.content)"></td>
        <td><h2>{{item.title}}</h2></td>
    </tr>
</table>

<br>
<a href="#home">Home</a>
<br>