
<b>Please make a selection, then <b>click the image below</b> to be redirected to your selected sign up page:</b>
<br><br>
<table class="shadows">
    <tr>
        <td>
            <a href="{{selectedplan.link}}" target='_blank'>
                <img src='img/magnify.jpg'  title="Order a Service Plan" alt="" width="275" height="275" />
            </a>
        </td>
        <td>
            <ul class="arrow">
                <li ng-repeat="plan in plans">
                    <input type="radio" ng-model="$parent.selectedplan" ng-value='plan' ng-click="switchChosen(plan)"/>
                    {{$index + 1}}. <span ng-class="{selected: plan.chosen}">{{plan.name}}</span> - {{plan.price}}
                    <br><br>
                </li>
            </ul>
        </td>
    </tr></table>
<br>
 <a href="#home">Home</a>
 