<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <script src="angular.js"></script>
        <script src="websockets.js"></script>
    </head>
    <body>
        <div ng-app="wsApp" ng-controller="wsController">
            <br><br>
            Name:
            <input type="text" ng-model="message.name" ng-minlength="4" ng-enter="postData()" />
            <br>
            Subject:
            <input type="text" ng-model="message.subject" ng-minlength="4" ng-enter="postData()" />
            <br>
            Message:
            <textarea ng-model="message.body" rows="6" columns="48" ng-minlength="4" ></textarea>
            <br><br>
            <button ng-click="postData()" >Send</button>
            <br><br>
            {{response}}
            <br><br>
            {{lb4}}
            <br>
            {{lb4a}}
        </div>
    </body>
</html>
