
<div ng-show="showLoginPopUpDialog">

    <p><a href="#" ng-click="closePopUpDialog()">CLOSE</a></p>
    <form role="form" name="loginForm">
        <label>Email: </label>
        <input type="email" name="email" ng-model="email" placeholder="Email" required>
        <div ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Enter a valid email.</div>
        <br>
        <label class="col-sm-2">Пароль</label>
        <input type="password" class="form-control" name="pwd" placeholder="Password" 
               required 
               ng-model="pwd" 
               ng-minlength="5" 
               ng-pattern="/^[a-zA-Z0-9]+$/">
        <div class="float-clear"></div>
        <div ng-show="loginForm.pwd.$error.pattern && !loginForm.pwd.$pristine">You can use only a-z, A-Z, 0-9 symbols.</div>
        <div ng-show="loginForm.pwd.$error.minlength && !loginForm.pwd.$pristine">The password is too short.</div>
        <div ng-show="loginForm.pwd.$error.required && !loginForm.pwd.$pristine">This field is required.</div>
        <br>
        <input type="submit" name="login-btn" value="Войти" ng-show="loginForm.email.$valid && loginForm.pwd.$valid">
    </form>
</div>

