<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="script.js"></script>

        <style>
            label
            {
                display: inline-block;
                width: 120px;
                vertical-align: middle;
            }

            input
            {
                display: inline-block;
                vertical-align: middle;
            }

            input.ng-invalid
            {
                border: solid red 2px;
            }

            form
            {
                padding: 10px;
            }

            textarea
            {
                width: 250px;
                height: 160px;
            }
        </style>
    </head>

    <body ng-app="mainModule">
        <div ng-controller="mainController">
            <form name="personForm" novalidate>
                <label for="firstNameEdit">First name:</label>
                <input id="firstNameEdit" type="text" name="firstName" ng-model="person.firstName" required /><br />
                <label for="lastNameEdit">Last name:</label>
                <input id="lastNameEdit" type="text" name="lastName" ng-model="person.lastName" required /><br />
                <ng-include src="'addressForm.html'"></ng-include>
            </form>
            <br />
            <strong><label for="userDebugText">Person:</label></strong><br />
            <textarea id="userDebugText">{{person| json}}</textarea><br />
            <br />
            <strong>Form validity:</strong><br />
            <ul>
                <li><strong>personForm.$valid =</strong> {{personForm.$valid}}</li>
                <li><strong>personForm.addressForm.$valid =</strong> {{personForm.addressForm.$valid}}</li>
                <li><strong>personForm.firstName.$valid =</strong> {{personForm.firstName.$valid}}</li>
                <li><strong>personForm.lastName.$valid =</strong> {{personForm.lastName.$valid}}</li>
                <li><strong>personForm.addressForm.zip.$valid =</strong> {{personForm.addressForm.zip.$valid}}</li>
            </ul>
        </div>
    </body>
</html>