<!DOCTYPE html>
<!--Создаем закладки (меню) переключая которые снизу показывает текст.-->
<html lang="en" ng-app="filterDemo">
    <head>
        <meta charset="utf-8" />
        <title>AngularJS tab using ng-include</title>
        <meta content="width=device-width" name="viewport" />
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" >

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="js/script.js"></script>

    </head>
    <body >
        <!-- https://docs.angularjs.org/api/ng/directive/ngBind -->
        <div class="container">

            <div class="well" ng-controller="tabsController">
                <ul class="tabs">
                    <li ng-repeat="tab in tabs" ng-class="{active: current == tab.name}">
                        <span ng-bind="tab.name" ng-click="toggleTab(tab)"></span>
                    </li>
                </ul>
                <div ng-include="tabaddress" class="tabs-data"></div>
            </div>
        </div>
    </body>
    
</html>