<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="script.js"></script>

        <style>
            table
            {
                border-collapse: collapse;
            }

            table, th, td
            {
                border: 1px solid #e1e1e1;
            }

            th, td
            {
                padding: 6px;
            }

            thead
            {
                background-color: #fcfcfc;
            }
        </style>
    </head>

    <body ng-app="mainModule">
        <div ng-controller="mainController">
            <h3>1. Simple substring filter</h3>
            <label>Filter: <input type="text" ng-model="simpleFilter" /></label><br />
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people| filter:simpleFilter">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h3>2. Object's properties filter (alternative 1)</h3>
            <label>Last name: <input type="text" ng-model="objProp1LastNameFilter" /></label><br />
            <label>Age: <input type="text" ng-model="objProp1AgeFilter" /></label><br />
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people| filter:{lastName: objProp1LastNameFilter, age: objProp1AgeFilter}">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h3>3. Object's properties filter (alternative 2)</h3>
            <label>First or last name: <input type="text" ng-model="objProp2NameFilter" /></label><br />
            <label>Age: <input type="text" ng-model="objProp2AgeFilter" /></label><br />
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people| filter:{$: objProp2NameFilter, age: objProp2AgeFilter}">
                        <!--$: - для всех полей-->
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h3>4. Storing the filtered array in a variable</h3>
            <label>Filter: <input type="text" ng-model="substrFilter" /></label><br />
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in filteredPeople = (people| filter:substrFilter)"><!-- создаем объект отфильтрованных элементов -->
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <strong>Number of filtered people: </strong>{{filteredPeople.length}}<br />
            <br />
            <h3>5. Custom array filter</h3>
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people| filter:customArrayFilter">
                        <td>{{person.firstName}}</td>
                        <td>{{person.lastName}}</td>
                        <td>{{person.age}}</td>
                    </tr>
                </tbody>
            </table>
            <br />


            <br /><br /><br />
            {{ ['Ari', 'Lerner', 'Likes', 'To', 'Eat', 'Pizza'] | filter:'e' }}
            <br /><br /><br />
            
            {{ [{
                                        'name': 'Ari',
                                                'City': 'San Francisco',
                                                'favorite food': 'Pizza'
                                        }, {
                                        'name': 'Nate',
                                                'City': 'San Francisco',
                                                'favorite food': 'indian food'
                                        }] | filter:{'favorite food': 'Pizza'} }}
            <br /><br /><br />
            
            {{ ['Ari', 'likes', 'to', 'travel'] | filter:isCapitalized }} <!-- фильтр в script.js показывает в верхнем регистре -->
            <br /><br /><br />
            <p>Name {{ 'sary heng ' | capitalize }} </p>
            <br /><br /><br />
            <hr>
            <div ng-init="friends = [{name:'John', phone:'555 - 1276'},
                                {name:'Mary', phone:'800-BIG-MARY'},
                                {name:'Mike', phone:'555-4321'},
                                {name:'Adam', phone:'555-5678'},
                                {name:'Julie', phone:'555-8765'},
                                {name:'Juliette', phone:'555-5678'}]"></div>
            Any: <input ng-model="search.$"> <br> 
            Name only <input ng-model="search.name"><br>
            Phone only <input ng-model="search.phone"><br>
           
            <table id="searchObjResults">
                <tr><th>Name</th><th>Phone</th></tr>
                <tr ng-repeat="friend in friends | filter:search">
                    <td>{{friend.name}}</td>
                    <td>{{friend.phone}}</td>
                </tr>
            </table>

           <br /><br /><br />
        </div>
    </body>
</html>