<!DOCTYPE html>
<html>
<head>
    <title>Star Rating Directive</title>
    <link href="Style/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-app="app" ng-controller="appController">
        
            <div class="alert alert-info">
                <span class="label label-info">Star Rating: Read/Write(with default values for readOnly & maxRating)</span>
                <div star-rating rating="starRating3"
                    click="click3(param)" mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)">
                </div>
                <div>
                    <span class="label label-primary">Star Rating: {{starRating3}}</span>
                    <span class="label label-primary">Hover Rating: {{hoverRating3}}</span>
                </div>
            </div>
           
    </div>
      <script src="../../angular-1.2.28/angular.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/appController.js"></script>
    <script src="app/directives/starRatingDirective.js"></script>
</body>
</html>
