<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body>

        <div ng-app="app">
            <input type="text" ng-model="color" placeholder="Enter a color" />
            <hello-world/>
        </div>

        <script>
            angular.module("app", [])

                    .directive('helloWorld', function () {
                        return {
                            restrict: 'AE', //A - атрибут, Е - элемент, С - класс, М - комментарий 
                            replace: true,
                            template: '<p style="background-color:{{color}}">Hello World</p>',
                            link: function (scope, elem, attrs) {
                                elem.bind('click', function () { //если нажать на Hello World получаю white
                                    elem.css('background-color', 'white');
                                    scope.$apply(function () {
                                        scope.color = "white";
                                    });
                                });
                                elem.bind('mouseover', function () { // mouseover - навести мышку
                                    elem.css('cursor', 'pointer');
                                });
                            }
                        };
                    });

        </script>
    </body>
</html>