<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body>

        <div ng-app="app" ng-controller="StudentController">
 <!--           <student name="Student_1"></student><br/>
            <student name="Student_2"></student>-->
            <student student="Student_1"></student><br/>
            <student student="Student_2"></student>
        </div>

        <script>
            angular.module("app", [])

                    .directive('student', function () {
                        var directive = {};
                        directive.restrict = 'E';
                        directive.template = "Student1: <b>{{student.name}}</b> , Role # <b>{{student.roleno}}</b>";

                        /*directive.scope = { 
                            //student: "=name" // = означает что значение берем из ng модели, 
                                             //@ означает атрибут readonly
                                             // & означает что значение берем из метода, функции
                        }*/
                        directive.scope = {
                            student: "=" //если общее имя с атрибутом то имя писать не надо
                        }

                        directive.compile = function (element, attributes) {
                            element.css("border", "2px solid #EB2657");

                            var linkFunction = function (scope, element, attributes) {
                                element.html("Student: <b>" + scope.student.name + "</b> , Role # <b>" + scope.student.roleno + "</b><br/>"); //используется как темплейт
                                element.css("background-color", "#4DB6B7");
                            }
                            return linkFunction;
                        }

                        return directive;
                    })

                    .controller('StudentController', function ($scope) {

                        $scope.Student_1 = {
                            name: "John Smith",
                            roleno: 1
                        };

                        $scope.Student_2 = {};
                        $scope.Student_2.name = "John Doe";
                        $scope.Student_2.roleno = 2;

                    });

        </script>
    </body>
</html>