<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <link rel="stylesheet" href="../../css/foundation.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app" ng-controller="HomeController">
        <br><br>

        <div id="home" class="row">
            <div class="large-6 large-offset-3">
                <h2>{{ title}}</h2>

                <div class="alert-box">{{ message}}</div>

                <ul class="small-block-grid-2">
                    <li>
                        <a href="#/login"> 
                            <img class="th" src="../../img/demo1.jpg" shows-message-when-hovered message="NewsFeed Research">
                        </a>
                    </li>
                    <li>
                        <a href="#/test">   
                            <img class="th" src="../../img/demo2.jpg" shows-message-when-hovered message="Specific searches">
                        </a>
                    </li>
                    <li>
                        <a href="#/view1">   
                            <img class="th"  src="../../img/charlotte.jpg" shows-message-when-hovered message="Companies/Products/Names">
                        </a>
                    </li>
                    <li>
                        <a href="#/view2">   
                            <img class="th" src="../../img/charlotte_2.jpg" shows-message-when-hovered message="Areas Search">
                        </a>
                    </li>
                </ul>

            </div>
        </div>


        <script>
                    angular.module("app", [])
                            .controller("HomeController", function ($scope) {
                                $scope.title = "Select from the Report Types:";
                                $scope.message = "Mouse over the images";
                            })
                            .directive("showsMessageWhenHovered", function () {
                                return {
                                    restrict: "A", // A = Attribute, C = CSS Class, E = HTML Element, M = HTML Comment
                                    link: function (scope, element, attributes) {
                                        var originalMessage = scope.message;
                                        element.bind("mouseenter", function () {
                                            scope.message = attributes.message;
                                            scope.$apply();
                                        });
                                        element.bind("mouseleave", function () {
                                            scope.message = originalMessage;
                                            scope.$apply();
                                        });
                                    }
                                };
                            })

        </script>
    </body></html>

