<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app" ng-controller="MyController">

            <div>This div will be replaced</div>
       
        <script>
            var app = angular.module("app", []);

            app.controller('MyController', function ($scope) {
                $scope.textToInsert = 'Ура!';
            });
            app.directive('div', function () {
                var directive = {};
                directive.template = "My first directive: {{textToInsert}}";
                return directive;
            });
        </script>
    </body>
</html>
