
<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

        <div ng-controller="MyController2" >

            <userinfo user="user_1"></userinfo>
            <br>
            <userinfo user="user_2"></userinfo>
        </div>

        <script>
            var app = angular.module("app", []);
            app.directive('userinfo', function () {
                var directive = {};
                directive.restrict = 'E';
                directive.template = "User : <b>{{user.firstName}}</b> <b>{{user.lastName}}</b>";
                directive.scope = {
                    user: "="
                }
                return directive;
            });

            app.controller("MyController2", function ($scope) {
                $scope.user_1 = {};
                $scope.user_1.firstName = "Hillary";
                $scope.user_1.lastName = "Clinton";

                $scope.user_2 = {};
                $scope.user_2.firstName = "Jebb";
                $scope.user_2.lastName = "Bush";
            });
        </script>
    </body>
</html>
