<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

        <div ng-controller="MyController5" >
            <mytransclude>This is a transcluded directive: {{firstName}}</mytransclude>
        </div>
        <script>
             var app = angular.module("app", []);
            app.directive('mytransclude', function () {
                var directive = {};

                directive.restrict = 'E';
                directive.transclude = true;
                directive.template = "qwerty<div ng-transclude></div>";

                return directive;
            });
            app.controller("MyController5", function ($scope) {
                $scope.firstName = "Jakob";
            });
        </script>
    </body>
</html>
