<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">


    <user username="huseyinbabal" avatar="https://www.gravatar.com/avatar/ef36a722788f5d852e2635113b2b6b84?s=128&d=identicon&r=PG" reputation="8012"></user>

    <script>
        var app = angular.module("app", []);
        app.directive("user", function () {
            return {
                restrict: 'E',
                link: function (scope, element, attrs) {
                    scope.username = attrs.username;
                    scope.avatar = attrs.avatar;
                    scope.reputation = attrs.reputation;
                },
                template: '<div>Username: {{username}}, Avatar: {{avatar}}, Reputation: {{reputation}}</div>'
            }
        })
    </script>
    </body>
</html>
