<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

    <item name="Item-1"></item>
    <item name="Item-2"></item>
    <item name="Item-3"></item>

    <script>
        var app = angular.module("app", []);
        app.directive("item", function () {
            return {
                restrict: 'E',
                scope: {
                    name: '@' //берется из свойств атрибутов name="Item-1" readonly
                },
//                scope: true,
//                link: function (scope, element, attrs) {
//                    scope.name = attrs.name;
//                },
                template: '<div><strong>Name:</strong> {{name}} <strong>Select Amount:</strong> <select name="count" ng-model="count"><option value="1">1</option><option value="2">2</option></select> <strong>Selected Amount:</strong> {{count}}</div>'
            }
        })
    </script>

</body>
</html>
