<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

    <div ng-controller="MessageCtrl">
        <notification message="{{message}}"></notification>
    </div>
    <script>
        var app = angular.module("app", []);

        app.controller("MessageCtrl", function ($scope) {
            $scope.message = "Product created!";
        })
        app.directive("notification", function () {
            return {
                restrict: 'E',
                scope: {
                    message: '@'
                },
                template: '<div>{{message}}</div>'
            }
        });
    </script>
    </body>
</html>
