<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

    <span>This is the textbox on the page</span>
    <input type="text" ng-model="commentText"/>
    <br/>
    <span>This is the textbox on the directive</span>
    <book-comment text="commentText"></book-comment>

    <script>
        var app = angular.module("app", []);

        app.directive("bookComment", function () {
            return {
                restrict: 'E',
                scope: {
                    text: '=' // = означает что мы берем информацию из ng-model
                },
                template: '<input type="text" ng-model="text"/>'
            }
        })
    </script>
    </body>
</html>
