<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

    <div ng-controller="LikeeCtrl">
        <like-book like="likeFunction()"></like-book>
    </div>
    <script>
        var app = angular.module("app", []);

        app.controller("LikeeCtrl", function ($scope) {
            $scope.likeFunction = function () {
                alert("I like the book!")
            }
        })
        app.directive("likeBook", function () {
            return {
                restrict: 'E',
                scope: {
                    like: '&' // & означает вызов функции
                },
                template: '<input type="button" ng-click="like()" value="Like"/>'
            }
        })

    </script>
    </body>
</html>
