<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS Custom Directives</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body ng-app="app">

    <div ng-controller="LikeeCtrl2">
        <like-book2 like="likeFunction(star)"></like-book2>
    </div>
    <script>
        var app = angular.module("app", []);

        app.controller("LikeeCtrl2", function ($scope) {
            $scope.likeFunction = function (star) {
                alert("I like the book!, and gave " + star + " star.")
            }
        })
        app.directive("likeBook2", function () {
            return {
                restrict: 'E',
                scope: {
                    like: '&'
                },
                template: '<input type="text" ng-model="starCount" placeholder="Enter rate count here"/><br/>' +
                        '<input type="button" ng-click="like({star: starCount})" value="Like"/>'
            }
        })
    </script>

    </body>
</html>
