
div.ex {
    text-align: left; width: 60%; margin-left: auto; margin-right: auto;
}

.highlightY{
    background-color: yellow;
}
.highlightYG{
    background-color: yellowgreen;
}

.shadows
{ box-shadow: 0 0 25px #333;}

ul.arrow {
    list-style-image: url('../img/bullet_yellow.gif');
}
.selected {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
    font-weight: bolder;
    color: #000099;
    line-height: 14pt;
}

td{
    vertical-align: top;
}