<html>
    <head>
        <title>a title</title>
        <meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>        <script src="script/script.js"></script>
    </head>
    <body ng-app="mainModule" ng-controller="mainController">
        <input type="text" name="text" ng-model="work" placeholder="Insert text">
        <p>{{work}}</p>
        <br>
       <div>
            <h3>Pop Up window for registration.</h3>
            <p><a href="#" ng-click="onLoginFrame()">LOGIN</a></p>
    <login></login>
        </div>
    </body>
</html>
